
body {
    
    background-color: rgba(35, 120, 153, 0.651);
    font-family: Calibri;
    color: hsl(0, 0%, 100%);
}

form {
    width: 50%;   
}
img {
    width:200px;
    height:300px;
}

h1 { 
    padding-top:50px ;
}

fieldset {
    background-color:transparent;
    border:none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow:hidden;
    padding: 0.625em;
}
label {
    cursor:pointer;
    display:inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
}
input {
    font-size: inherit;
    display:inline-block;
    width:15pc;
}

legend {
    padding-bottom: 30px;
    padding-top: 40px;
    font-size:larger;
    font-style:italic;  
    width: 200px;
    text-align: center;
}

.birthday { 
    width: 130px;
}