
body {
    
    background-color: rgba(37, 52, 139, 0.63);
    font-family: Calibri;
    color: hsl(0, 0%, 100%);
}

img {
    width:50%;
    height:50%;
}

h1 { 
    padding-top:50px ;
}

fieldset {
    background-color:transparent;
    border:none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow:hidden;
    padding: 0.625em;
}
label {
    cursor:pointer;
    display:inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}
input {
    font-size: inherit;
    display:inline-block;
    text-align:left;
}

legend {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size:medium;
    font-style:italic;
    display:block;
    text-align:right;
    
}